<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rei do Salgado</title>
    <link rel="stylesheet" type="text/css" href="../style/Formatações.css" />
  </head>

  <nav id="menu">
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="Sobre_nos.html">Sobre nós</a></li>
      <li><a href="cardapio.html">Cardapio</a></li>
      <li><a href="formulario.html">Cadastre-se</a></li>
      <!--para adicionar um subgrupo 
        < ol>
              li coxinhas li
             li churros li 
          < ol >-->
    </ul>
  </nav>
  <div class="cardapio">
    <h1 id="cardapio">Cardápio</h1>
    <img src="../static/cardapio.jpg" alt="" />
  </div>
</html>
